# {{ ansible_managed }}

URI {{ openldap_client_uri }}
BASE {{ openldap_client_base }}

SIZELIMIT {{ openldap_client_sizelimit }}
TIMELIMIT {{ openldap_client_timelimit }}

TLS_CACERT	/etc/ssl/certs/ca-certificates.crt
